header{
  background-image: url('../images/blog_header_bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/*main*/

aside article{
  margin-top: 50px;
}


@media screen and (max-width: 768px) {

  aside article{
    margin-top: 0;
  }

}
